.contact {
  background-color: $color-primary-bg;

  & h1,
  & h4 {
    color: #fff !important;
  }

  & form {

    & label {
      font-weight: 800;
    }

    & .form-control {
      padding: 20px 10px;      
      border-radius: 15px;      
      font-weight: 600;      
    }
  }
}

@media(min-width:768px) {
  .contact {
    form {
      max-width: 50%;
      margin-left:auto;
      margin-right: auto;
    }
  }
}