@import 'variables';
body {
  font-family: "Open Sans", sans-serif;
}
.btn {
  $box-shadow: 0 0 0 0.2rem rgba($color: $color-primary, $alpha: .5);
  $background-color: darken($color: $color-primary, $amount: 15%);

  border-radius: 999px;
  font-weight: bold;
  
  &.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;  

    &:hover {
      background-color: $background-color;
      border-color: $background-color;
    }

    &:focus {
      background-color: $background-color;
      box-shadow: $box-shadow;
      border-color: $background-color;
    }

    &:not(:disabled):not(.disabled):active {
      background-color: $background-color;
      box-shadow: $box-shadow;
    }

  }
}

.heading {
  margin-bottom: 5rem;
  
  & h1 {    
    color: $color-primary;
    font-size: 3rem;
  }
}

.section-padding {
  padding-top: 5rem;
  padding-bottom:5rem;
}

.footer-col {
  padding: 1.5rem;  
  color: $color-primary;
  text-align: center;
}

@media (min-width: 768px) {

  .section-padding {
    padding-top: 7rem;
    padding-bottom:7rem;
  }

  .heading {
    margin-bottom: 5rem;
    
    & h1 {      
      color: $color-primary;
      font-size:3.5rem;
    }
  
    & h5 {      
      color: $color-secondary;
    }
  
  }
}
