.projects {
  
  transition: translate .3s ease-in-out;

  & .gallery-item {    

    & img {
      border: 2px solid #fff;
      max-width: 100%;
      height: auto;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    & .content-wrapper {
      position: relative;      
      background-color:#fff;      
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
    }
  }

}

@media(min-width:768px) {

  .projects {
    & .gallery-item {

      $light-grey: lighten($color: $color-secondary, $amount: 50%);

      & img {
        height:300px; 
        width:100%;
      }

      & .content-wrapper {
        min-height: 250px;
      }

      & .gallery-actions {
        position: absolute;
        bottom: 2em;
        left: 1em;
      }
    }
  }

}