.skill-section {
	background-color: $bg-light-30;
}

.skills-card {
  padding: 1rem;
  border-radius: 20px;
}

.skill-pill {
	background-color:$bg-light-secondary-30;
	transition: all .2s ease-in-out;
	
	&.hover {
		//background-color:$color-primary-dark-hoverable;
		transform:scale(1.1);
	}

}
