$color-primary: #845EC2;
$color-primary-bg:darken($color:$color-primary, $amount: 30%);
$color-primary-dark:darken($color:$color-primary, $amount:25%);
$color-primary-dark-hoverable:darken($color:$color-primary, $amount:20%);
$color-secondary:#6c757d;
$section-padding-ws-lg: 7rem;
$section-padding-ws-sm: 5rem;
